  /* Importar la fuente de Google Fonts 'Roboto' con varios pesos */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  /* Estilos generales para todos los elementos */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body {
    background: #1f242d;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #1f242d;
    /* cambiar el color de fondo a negro oscuro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  /* Estilos para la marca */
  .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    animation: slideRight 1s ease forwards;
  }

  .navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }

  /* Estilos para los enlaces activos y con el cursor sobre ellos */
  .navbar a:hover,
  .navbar a.active {
    color: #0ef;
  }

  /* Estilos generales */
  body {
    background: #1f242d;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Estilos del encabezado */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #1f242d;
    /* cambiar el color de fondo a negro oscuro */
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  /* Estilos de la marca */
  .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    animation: slideRight 1s ease forwards;
  }

  /* Estilos de la barra de navegación */
  .navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }

  /* Estilos para los enlaces activos y con el cursor sobre ellos */
  .navbar a:hover,
  .navbar a.active {
    color: #0ef;
  }

  /* Estilos del botón */
  .btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
  }

  /* Estilos del título principal */
  h1 {
    margin: 0;
    font-size: 36px;
  }

  /* Estilos de las categorías */
  .categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }

  /* Estilos de las materias */
  .materia {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }

  .materia:hover {
    transform: scale(1.05);
  }

  .materia a {
    color: #333;
    text-decoration: none;
  }

  .materia img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  .materia h2 {
    font-size: 24px;
  }

  /* Estilos de las pruebas */
  .pruebas {
    background-color: #fff;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  /* Estilos de la selección de prueba */
  .seleccion-prueba {
    text-align: center;
    margin-bottom: 20px;
  }

  .seleccion-prueba form {
    display: contents;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .seleccion-prueba label {
    font-size: 18px;
    margin-right: 10px;
  }

  .seleccion-prueba select {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
  }

  .seleccion-prueba input[type="submit"] {
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

  footer {
    color: #fff;
    padding: 20px;
  }

  .fondo-opaco {
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    opacity: 100%;
  }